<html>
<head>
      {% load static %}
  <link rel="stylesheet" href="{% static 'sample.css' %}">
</head>
<body>
<div class="container">
  <form name = "form" action = "{% url 'submit_req' %}" method = "POST" >{% csrf_token %}
    <h3>RFC Create Form</h3>
    <h4>Submit Form for Creating RFC request</h4>
    <fieldset>
      <input placeholder="ClientTicket ID" type="text" tabindex="1" name="ClientTicketID" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Brief Summary" type="text" tabindex="2" name="Summary" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Descriptions" type="text" tabindex="3" name="Description" required autofocus>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>

  </form>
</div>
</body>
</html>